[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-script = "*"
flask-mail = "*"
flask-user = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-admin = "*"
flask-session = "*"
redis = "*"

[requires]
python_version = "3.6"
