@media only screen and (max-width: 768px) {
    .grades {
        margin: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .grades {
        margin: 5vw;
    }
}

.table td, th {
    text-align: right;
}

.table td:first-child, th:first-child {
    text-align: left;
}​
