.table td, th {
    text-align: right;
}

.scrollable {
    overflow: auto;
    width: calc(100% - 10px);
}

.table th:first-child, td:first-child {
    text-align: left;
}

@media (min-width: 768px) {
    .grades {
        margin: 5vw;
    }
}

@media (max-width: 768px) {
    .grades {
        margin: 5px;
    }
}