.table td, th {
    text-align: right;
}

.table thead th {
    font-weight: 500;
}

.table thead td {
    font-weight: 400;
}

.table td:first-child, th:first-child, th:nth-child(2), td:nth-child(2) {
    text-align: left;
}​

.padding-small>tr>th, .padding-small>tr>td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

th {
    position: absolute;
    width: 125px;
    left: 0;
}

.grades {
    margin: 5px;
    overflow-x: hidden;
    position: relative;
}

.inner {
    overflow-x: auto;
    width: calc(100% - 10px - 450px);
    margin-left: 255px;
}

.total {
    position:absolute;
    width: 125px;
    left: 130px;
}

.second-last {
    padding-left: 100px !important;
}

#add-new {
    padding-top: 0.375rem;
    position: absolute;
    width: 200px;
    left: calc(100% - 205px);
    border-bottom: 0px !important;
}
.new {
    position: absolute;
    width: 200px;
    left: calc(100% - 205px);
}

.first {
    border-bottom: 0px !important;
}