{% extends "base.html" %}
{% from 'templates.jinja' import emptynav %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {{ emptynav | safe }}
    <div class="row justify-content-center text-center" id="box" novalidate>
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="h1 mb-3 font-weight-normal">Create Account</h1>
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <div class="invalid-feedback">Please choose a different username.</div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="firstname" id="inputFirstname" class="form-control" placeholder="First Name" required>
                            <div class="invalid-feedback">Field cannot be empty.</div>
                        </div>
                        <div class="col">
                            <input type="text" name="lastname" id="inputLastname" class="form-control" placeholder="Last Name" required>
                            <div class="invalid-feedback">Field cannot be empty.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="invalid-feedback">Passwords must be at least 8 characters long.</div>
                </div>
                <div class="form-group">
                    <input type="password" name="passwordconfirm" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>
                <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit" disabled>Create Account</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center" id="link">
        <h6><a href='/login'>Return to Login</a></h6>
    </div>

    <script src="{{ url_for('static', filename='create_account.js') }}"></script>

{% endblock %}