{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="row justify-content-center text-center" id="box">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Classes</h1>
                </div>

                <ul class="list-group list-group-flush">
                    {% for class_name, class_url in context.classes %}
                        <a href={{class_url}}><li class="list-group-item">{{class_name}}</li></a>
                    {% endfor %}
                    <a href='/join'><li class="list-group-item"><h5 class="card-title"><i class="fas fa-plus-circle"></i> Join Class</h5></li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="link">
        <a href='/logout'><h5>Logout</h5></a>
    </div>

{% endblock %}

