{% extends "base.html" %}
{% from 'templates.jinja' import basicnav %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='student_grades.css') }}">
{% endblock %}

{% block title %}
    {{ class_obj.name }} Grades
{% endblock %}

{% block body %}
    {{ basicnav | safe }}
    <div class="grades">
        <h1>{{ class_obj.name }} Grades</h1>
        {% for k, v in grades.items() %}
            <h2 id="category_name_{{ k }}" class="names">{{ grade_factor['category' ~ k ~ '_name'] }}</h2>
            <input type="hidden" id="category_value_{{ k }}" class="weights" value="{{ grade_factor['category' ~ k ~ '_weight'] }}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Points</th>
                        <th>Max Points</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody class="category_{{ k }}">
                    {% for assignment, result in v %}
                        <tr>
                            <td id="category_{{ k }}_assignment_{{ assignment.id }}_name">{{ assignment.assignment_name }}</td>
                            <td id="category_{{ k }}_assignment_{{ assignment.id }}_date">{{ assignment.assignment_date }}</td>
                            <td id="category_{{ k }}_assignment_{{ assignment.id }}_points">{% if result is defined %} {{ result.points_earned }} {% endif %}</td>
                            <td id="category_{{ k }}_assignment_{{ assignment.id }}_total_points">{{ assignment.total_points }}</td>
                            <td id="category_{{ k }}_assignment_{{ assignment.id }}_percentage"></td>
                        </tr>
                    {% endfor %}
                    <tr class="total">
                        <th>{{ grade_factor['category' ~ k ~ '_name'] }} Total</th>
                        <th> </th>
                        <th id="category_{{ k }}_total_points"></th>
                        <th id="category_{{ k }}_total_earned"></th>
                        <th id="category_{{ k }}_total_percentage"></th>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <div class="row">
            <div class="col-8"><h1>Final Grade</h1></div>
            <div class="col-4 text-right"><h1><span id="grade-letter"></span>  <span id="grade-pct"></span></h1></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='student_grades.js') }}"></script>
{% endblock %}