{% extends "base.html" %}
{% from 'templates.jinja' import basicnav %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='student_grades.css') }}">
{% endblock %}

{% block title %}
  {{ class_obj.name }} Grades
{% endblock %}

{% block body %}
  {{ basicnav | safe }}
  <input type="hidden" id="a" value="{{ grade_scale.a_b }}">
  <input type="hidden" id="b" value="{{ grade_scale.b_c }}">
  <input type="hidden" id="c" value="{{ grade_scale.c_d }}">
  <input type="hidden" id="d" value="{{ grade_scale.d_f }}">
  <div class="grades">
    <div class="row">
      <div class="col-8"><h1>{{ class_obj.name }} Grade</h1></div>
      <div class="col-4 text-right"><h1><span id="grade-letter"></span>  <span id="grade-pct"></span></h1></div>
    </div>
    <br>
    {% for k, v in grades.items() %}
      <a class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ grade_factor['category' ~ k ~ '_weight'] }}% of grade, Lowest {{ grade_factor['category' ~ k ~ '_drop'] }} dropped">
        <h2 id="category_name_{{ k }}" class="names">{{ grade_factor['category' ~ k ~ '_name'] }}</h2>
      </a>
      <input type="hidden" id="category_drop_{{ k }}" class="drop" value="{{ grade_factor['category' ~ k ~ '_drop'] }}">
      <input type="hidden" id="category_value_{{ k }}" class="weights" value="{{ grade_factor['category' ~ k ~ '_weight'] }}">
      <div class="scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Points</th>
              <th>Max Points</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody class="category_{{ k }}">
            {% for assignment, result in v %}
              <tr id="assignment_{{ assignment.id }}">
                <td id="category_{{ k }}_assignment_{{ assignment.id }}_name">{{ assignment.assignment_name }}</td>
                <td id="category_{{ k }}_assignment_{{ assignment.id }}_date">{{ assignment.assignment_date }}</td>
                <td id="category_{{ k }}_assignment_{{ assignment.id }}_points" class="points">{% if result is defined %} {{ result.points_earned }} {% endif %}</td>
                <td id="category_{{ k }}_assignment_{{ assignment.id }}_total_points">{{ assignment.total_points }}</td>
                <td id="category_{{ k }}_assignment_{{ assignment.id }}_percentage">&nbsp;</td>
              </tr>
            {% endfor %}
            <tr class="total">
              <th>{{ grade_factor['category' ~ k ~ '_name'] }} Total</th>
              <th> </th>
              <th id="category_{{ k }}_total_points"></th>
              <th id="category_{{ k }}_total_earned"></th>
              <th id="category_{{ k }}_total_percentage"></th>
            </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
    <div style="text-align: right;">
      <button class="btn btn-primary" onclick="test(this)">What If?</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='student_grades.js') }}"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}